body {
    background: linear-gradient(to right, #2e1e67, #372078, #342173);
    background-size: 100%;
}

.App {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 210px;
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    color: white;
    width: 220px;
    font-family: Cascadia Code;
    padding: 40px;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    transition: 1.5s;
    text-align: center;
    margin-left: 10px;
    font-size: large;
    height: 120px;
}

.button:hover {
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
}

.component-container {
    text-align: center;
    color: white;
}
