body {
    background: linear-gradient(
        to right,
        #2e1e67,
        #372078,
        #342173,
        #482b95,
        #402689
    );
    background-size: 100%;
}

.App {
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: auto;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

.button {
    margin-top: 20px;
    margin-left: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    color: white;
    width: 250px;
    font-family: Cascadia Code;
    padding: 40px;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    border-radius: 100px;
    transition: 1.5s;
}

.button:hover {
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
}

.component-container {
    text-align: center;
    color: white;
}
