.section-crypto {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-style: ridge;
    border-left: 5px;
    border-right: 5px;
    border-top: 4px;
    border-bottom-style: inset;
}

.time-color {
    color: rgb(30, 206, 30);
}
.time-negative {
    color: rgb(255, 74, 74);
}
