.list {
    height: 300px;
    width: 100px;
    border-style: solid;
}

.button-prev {
    background: transparent;
    color: white;
    height: 35px;
    width: 140px;
    cursor: pointer;
}

.button-next {
    background: transparent;
    color: white;
    height: 35px;
    width: 140px;
    margin-right: 25px;
    cursor: pointer;
}

#header-crypto {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#input-crypto {
    width: 340px;
    height: 35px;
    position: relative;
    left: 100px;
}

.link {
    color: white;
}

@media (max-width: 500px) {
    #input-crypto {
        width: 140px;
        position: relative;
        left: -5px;
    }
}
