.welcome {
    color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: fixed;
    background: url('https://cdn.wallpapersafari.com/81/13/0rCalk.jpg');
    margin-top: -6.2em;
    right: 0px;
    width: 100%;
}

@media (max-width: 500px) {
    .welcome {
        height: 135px;
    }
}

.button-logout {
    width: 120px;
    height: 40px;
    background: transparent;
    color: white;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 15px;
}

.balance {
    margin: 20px;
    width: 100px;
    background: transparent;
    color: white;
    cursor: pointer;
}

.welcome-message {
    text-align: center;
    padding-top: 2px;
    padding-left: 50px;
}
